/* RESETE */
html, body, header, main, footer, div, h1, p, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* VARIÁVEIS DE COR */
:root {
    --corPreto: #000000b2;
    --corBordaJogador1: var(--corPreto);
    --corFundoJogador1: #ca050be3;
    --corBordaJogador2: #013d01;
    --corFundoJogador2: #7EB50B;
    --corFundoColuna: #1d5552;
    --corFundoLinha: #04817C;
}

/* VARIÁVEIS DE DIMENSÕES */
:root {
    --raioDoCirculo: 40px;
    --alturaDaColuna: 100%;
    --larguraDaColuna: 100px;
    --borderRadius: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10vh;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 42px;
}

#topo-game {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}

#selecao-jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.escolha {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

.botao {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--corFundoJogador2);
}
    .b1 { background-color: var(--corFundoJogador2); }
    .b2 { background-color: var(--corFundoJogador1); }

#bnt {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 35px;
    font-weight: 800;
    color: #7EB50B;
}

#pai-do-game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-game {
    display: flex;
    justify-content: center;
    width: 98vw;
    min-width: 319px;
    max-width: 670px;
    height: 55vh;
}

.coluna {
    height: var(--alturaDaColuna);
    width: var(--larguraDaColuna);
    /* border: 1px solid var(--corPreto); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--corFundoColuna);
}
    .coluna0 {
        border-top-left-radius: var(--borderRadius);
        border-bottom-left-radius: var(--borderRadius);
    }
    .coluna6 {
        border-top-right-radius: var(--borderRadius);
        border-bottom-right-radius: var(--borderRadius);
    }

.linha {
    width: var(--raioDoCirculo);
    height: var(--raioDoCirculo);
    border: 1px solid var(--corPreto);
    border-radius: 100%;
    text-align: center;
    background-color: var(--corFundoLinha);
}
    .jogador1 {
        border: 2px solid var(--corBordaJogador1);
        background-color: var(--corFundoJogador1);
        box-shadow: 0 0 8px 1.5px var(--corPreto) inset;
        animation-name: queda;
        animation-duration: 2s;
    }
    .jogador2 {
        border: 2px solid var(--corBordaJogador2);
        background-color: var(--corFundoJogador2);
        box-shadow: 0 0 8px 3px var(--corBordaJogador2) inset;
        animation-name: queda;
        animation-duration: 2s;
    }

@keyframes queda {
    0%{
        transform: translateY(-580%);
    }
    25%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-30%);
    }
    100%{
        transform: translateY(0%);
    }
}

@media (min-width: 750px) {
    :root {
        --raioDoCirculo: 70px;
        --alturaDaColuna: 500px;
        --larguraDaColuna: 20%;
        --borderRadius: 20px;
    }
}