/* RESETE */
html, body, header, main, footer, div, h1, p, span,figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{ max-width: 100%; display: block; }

 /* VARIÁVEIS DE COR */
:root {
    --corPreto: #4eddf7b2;
    --corBordaJogador1: var(--corPreto);
    --corFundoJogador1: #ca050be3;
    --corBordaJogador2: #013d01;
    --corFundoJogador2: #7EB50B;
    --corFundoColuna: #1d5552;
    --corFundoLinha: #04817C;
}

/* VARIÁVEIS DE DIMENSÕES */
:root {
    --raioDoCirculo: 33px;
    --alturaDaColuna: 300px;
    --larguraDaColuna: 42px;
    --borderRadius: 50px;
}

/*  MÃO NA MASSA */
.container-geral{
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    background-image: url("../img/bgMar.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
    .container-geral header{ width: 100%; height: 120px; }

        .imglogo { width: 150px; margin: 0 auto; }

        .instrucao {
            padding: 10px;
            width: 80px;
            height: 80px;
            margin-right: 20px;
            position: absolute;
            right: 30px;
            top: 15px;
            display: none;
        }

    #pai-do-game {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-game {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 55vh;
    }

    .coluna {
        height: var(--alturaDaColuna);
        width: var(--larguraDaColuna);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
        .linha {
            width: var(--raioDoCirculo);
            height: var(--raioDoCirculo);
            box-shadow: 0 0 8px 1.5px var(--corPreto) inset;
            border-radius: 100%;
            text-align: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 22px;
        }
            .jogador1, .jogador2 {
                background-repeat: no-repeat;
                background-size: contain;
                animation-name: queda;
                animation-duration: 2s;
            }
                .jogador2 { background-image: url("../img/peixeVerde.png"); }
                .jogador1 { background-image: url("../img/peixeVermelho.png"); }

#corpo {
    background-image: url("../img/fundoBK.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 140px;
}

.container-placar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
    .placar {
        height: 60px;
        width: 105px;
        position: relative;
    }
        .peixe1{ right: 0; }

        .container-imgPlayer{
            height: 60px;
            width: 60px;
            background-color: #ffffff;
            border-radius: 100%;
            position: absolute;
            padding: 8px;
            z-index: 2; 
        }

        .sepacarao{
            padding: 5px;
            padding-left: 5px;
            padding-right: 5px; 
            height: 40px;
            width: 80px;             /* 120 */
            border-radius: 20px;
            background-color: #ffffff;
            position: absolute;
            z-index: 1;
        }
            .sepacarao p{
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 5px;
            }

        .separacao1{ right: 25px; top: 10px; }
        .separacao2{ left: 25px; top: 10px; text-align: right; }

        #bntMenu {
            padding: 10px;
            border-radius: 20px;
            border: 1px solid #808080;
            background-color: #ff4500;
            color: #ffffff;
        }

@keyframes queda {
    0%{
        transform: translateY(-580%);
    }
    25%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-30%);
    }
    100%{
        transform: translateY(0%);
    }
}

@media (min-width: 919px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: #39bbc9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-geral {
        width: 70vw;
        max-width: 900px;
        height: 90vh;
        box-shadow: 0 0 8px 2px #0f6d77;
        border-radius: 20px;
    }
    
}